/* Set the background color of body to tan */
@font-face {
    font-family: logo;
    src: url(Jellee-Roman.ttf);
}
body {
    background: #F7EBD8;
    font-family: "verdana", "sans-serif";
}

.dropdown{
    position:relative;
    display: block;
    
}

.dropdown-content{
    position: relative;
    display: none;
    overflow: auto;
    width: 100%;
    z-index: 1;
}



.dropdown:hover .dropdown-content{
    display:block;
    }


/*Mette il logo in alto a sinistra*/

.aParent{
    float: left;
    clear: none;
}


/*layout social media*/

.social{
    display: block;
    font-size:100px;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 90px;
    text-align: center;
    }


/*layout impressum*/
.impressum{
    display: block;
    font-size:30px;
    margin-top: 100px;
    padding: 30px;
    text-align: center;
    
    font-family:"logo", sans-serif;
}
/*layout datenschutz*/
.datenschutz{
    display: block;
    font-size:30px;
    margin-bottom: 150px;
    padding:30px;
    text-align: center;
    
    font-family:"logo", sans-serif;
}


.center{
    display: block;
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px
}

td{
    padding:30px;
}
dl{
    margin-left: 50px;
    font-size: 20px;
}

dt{
    margin-top:15px;
    font-size: 20px;
}

ul{
    margin-left:50px;
    font-size: 20px;
}

li{
    margin-bottom:5px;
    font-size: 20px;
}


h1{
    text-align: center;
    color: #3F6703;
    margin-top:50px;
    font-size: 100px;
    font-family:"logo", sans-serif;
    
}


h2{
    font-size:60px;
    color: #3F6703;
    margin-left: 70px;
    margin-top: 200px;
    font-family:"logo", sans-serif;
}

h3{
    font-size:60px;
    color: #3F6703;
    margin-left: 70px;
    margin-top: 200px;
    font-family:"logo", sans-serif;
}

h4{
    font-size:40px;
    color: 	#3F6703;
    margin-left: 70px;
    font-family:"logo", sans-serif;
}

h5{
    font-size: 30px;
    color:	#3F6703;
    margin-left: 50px;
    font-family:"logo", sans-serif;
}

p{
    display: block;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
}


/*display link*/
a{
    color: #673F03;
    text-decoration: none;
    font-size: 30px;
    display:inline-block;
    align-items: center;
    margin-left: -6px;
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    width: auto;
    text-align: center;
    font-family:"logo", sans-serif;
}

a:hover{
    color:#F7EBD8;
    background:#673F03;
}




.menu{
    margin-top: 150px;
    overflow: hidden;
    background-color: #673F03;
   border: 5px solid #673F03;
  }


.menu a{
        width:auto;
    height: auto;
        text-align: center;
    padding:10px;
        color: #F7EBD8;
        background: #673F03;
    font-size: 40px;
    text-decoration: none;
    float:left;
    }

.menu a:hover{
    background:#F7EBD8;
    color: #673F03;
    }

.menu a.icon{
    display: none;
}


/*On screen that are smaller than 900 px: increase font-size and display just the Home and icon in menu*/
@media screen and (max-width:1150px) 
{
  
    
    /*layout impressum*/
    .impressum{
    display: block;
    font-size:40px;
    margin-top: 100px;
    padding: 30px;
    text-align: center;
    
    font-family:"logo", sans-serif;
}
/*layout datenschutz*/
.datenschutz{
    display: block;
    font-size:40px;
    margin-bottom: 150px;
    padding:30px;
    text-align: center;
    
    font-family:"logo", sans-serif;
}

.menu a:not(:first-child)
    {
        display:none;
    }
    
    .menu a.icon{
        float: right;
        display: block;
    }
    
       .menu.responsive {position: relative;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

    
    h1{
    text-align: center;
    color: #3F6703;
    margin-top:50px;
    margin-bottom:125px;
    font-size: 60px;
      
    font-family:"logo", sans-serif;
    }
    
   
        h2{
        font-size:60px;
        /*color:	#F7941D;*/
        color: #3F6703;
        margin-left: 20px;
        
    font-family:"logo", sans-serif;
    } 
    
    h3{
        font-size:60px;
        /*color:	#F7941D;*/
        color: #3F6703;
        margin-left: 20px;
        
    font-family:"logo", sans-serif;
    } 
    
    h4{
    font-size:55px;
    color: 	#3F6703;
    margin-left: 70px;
        
    font-family:"logo", sans-serif;
}

h5{
    font-size: 50px;
    color:	#3F6703;
    margin-left: 50px;
    
    font-family:"logo", sans-serif;
}

 p{
    display: block;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    /*text-indent: 50px;*/
}


a{
    color: #673F03;
    text-decoration: none;
    font-size: 40px;
    display:inline-block;
    align-items: center;
    margin-left: -6px;
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    width: auto;
    text-align: center;
    font-family:"logo", sans-serif;
    
}
    a:hover{
    color:#F7EBD8;
    background:#673F03;
}

td{
    padding:30px;
}
    
dl{
    margin-left: 50px;
    font-size: 40px;
}

dt{
    margin-top:15px;
    font-size: 40px;
}

ul{
    margin-left:50px;
    font-size: 40px;
}

li{
    margin-bottom:5px;
    font-size: 40px;
}

    
}
@media screen and (max-width: 600px) 
{  
   
    
    /*centra l'immagine se lo schermo è piccolo*/
    .picture{
        width: 350px;
        align-items: center;
        margin: 30px;
        float:none;
        }
    
.menu a{
    display:none;
    }
   
    .menu a.icon{
        display:block;
        float:right;
    }
    
   
}
