.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow:hidden;
    background-color: #673F03;
    border: 5px solid #673F03;
    text-align: center;
}

.menu li{
    float: left;
    display: inline-block;
}

.menu li a{
    border:5px;
    padding:10px 50px;
    display:block;
    background:#673F03;
    color:#F7EBD8;
    text-decoration:none;
    font-size:40px;
}

.menu li a:hover{
    background:#F7EBD8;
    color:#673F03;
}

.menu li ul{
    position: absolute;
    width: inherit;
    display:none;
}

.menu li:hover ul{
    display: block;
}


.menu ul li ul li{
    display:block;
}

.menu li.icon{
    display:none;
}

@media screen and (max-width:1150px) 
{
    .menu ul li:not(:first-child){
        display:none;
    }
    
    .menu ul li.icon{
        float: right;
        display: block;
    }
    
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu ul li a{
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) 
{  
   
    
    /*centra l'immagine se lo schermo è piccolo*/
    .picture{
        width: 350px;
        align-items: center;
        margin: 30px;
        float:none;
        }
    
    .menu ul li{
        display:none;
        }
   
    .menu ul li.icon{
        display:block;
        float:right;
    }
}
