
.dropdown{
    position: relative;
    display: block;
}

.dropdown-content {
    position: absolute;
    display: none;
    float: none;
    width: 100%;
    min-width: 160px;
    z-index: 1;
    top: 60px;
    left: 60px;
}

.dropdown:hover .dropdown-content{
    display:block;
}

